<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre de Paciente</th>
    <th scope="col">Fecha de Nacimiento</th>
    <th scope="col">Fecha Proxima Cita</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'fila_paciente', collection: @pacientes, as: :paciente %>
  </tbody>
</table>