<h1 class="text-center">ClinDENT <%= fa_icon 'tooth' %> </h1>
<h2 class="text-center">Bienvenido</h2>
<div class="w-100 text-center">
  <%= link_to 'Ingresar', new_user_session_path, class: 'btn btn-primary m-5' %>
</div>

<%#= link_to 'Nuevo Paciente', new_user_registration_path %>
