<h1 class="text-center">Medicos</h1>
<div class="row justify-content-md-center">
  <%= link_to 'Nuevo Medico', medico_nuevo_path, class: 'btn btn-primary row m-5 col-3'%>
</div>

<%= render partial: 'tabla_medicos' %>

